  <!-- Page Header -->
<header class= "toppage">
  <h1>ShiftManegementapp</h1>
  <p>Welcome!</p>
</header>
  <a class="btn btn-primary btn-lg btn-demo" data-toggle="collapse" href="#collapseExample">README</a>

<div class="collapse" id="collapseExample" align="center">
  <div class="well" align="left">
      <h4>管理者の方</h4>
      <p>初回ログイン用ゲストメールアドレス、パスワードでログインし、その後採用したアルバイトの登録を行ってください。<br>
          登録されたアルバイトのメールアドレスには、登録完了メールが自動で送られます。登録完了後、アルバイトは自分でパスワードを再設定し、その後は自分でログインできるようになります。</p>
      <br>
      <p>管理者が使える機能は以下の通りです。</p>
        <ul>
          <li>①アルバイト新規登録・情報更新・削除ができます</li>
          <li>②任意のシフトを作成・更新・削除できます</li>
          <li>③作成済みシフト一覧を確認できます。</li>
          <li>④シフト一覧で照合ボタンを押すと、勤務希望とマッチしたアルバイトの氏名を挿入できます。</li>
          <li>⑤その月のシフトを作成後、公開・非公開を選択できます。公開するまでアルバイトには確認できません</li>
        </ul>
				<br>
        <h4>アルバイトの方</h4>
        <p>管理者ユーザーがユーザー登録をします。登録が完了した場合、採用の際に申請したメールアドレス宛にメールが届きますので、確認してください。<br>
           アルバイト登録者が使える機能は以下の通りです。</p>
        <ul>
          <li>①ユーザー編集画面ではパスワードの更新を更新のみできます。そのほかの情報更新が必要になった場合、管理者に連絡して下さい。</li>
          <li>②シフト一覧の確認は、管理者が公開後にできます。</li>
          <li>③空いているシフトには管理者に連絡することなく氏名を入力できます。</li>
          <li>④自分がシフトに入ることができなくなった時、コメントを追加して代理探しを呼びかけることができます。<br>
              また、他のアルバイトが代理を呼びかけているシフトにコメントを追加することもできます。コメントが追加されるたびに、登録者全員にメールが通知されます。</li>
          <li>⑤勤務希望日・時間・業務を登録できます。ただし、登録後の変更や修正は管理者への連絡が必要です。</li>
        </ul>
  </div>
</div>
