<h1>シフト管理お助けアプリ</h1>
<h2>このアプリはアルバイト管理業務に携わる人に向けて作成している、シフト管理補助アプリです。</h2>

<!-- <p>①管理者が採用したアルバイトの情報を氏名、メールアドレス、電話番号で登録します。</p>
<p>②登録されたアルバイトのメールアドレスには、登録完了メールが自動で送られます。登録完了後、アルバイトは自分でパスワードを再設定し、その後は自分でログインできるようになります。</p>
<br>
<p>管理者が使える機能は以下の通りです。</p>
<ul>
  <li>①アルバイト新規登録・情報更新・削除ができます</li>
  <li>②任意のシフトを登録ができます</li>
  <li>③作成済みシフト一覧の確認できます。</li>
  <li>④シフト一覧で照合ボタンを押すと、勤務希望とマッチしたアルバイトの氏名を挿入できます。</li>
  <li>⑤その月のシフトを作成後、公開・非公開を選択できます。公開するまでアルバイトには確認できません<li>
</ul>

<p>アルバイトが使える機能は以下の通りです。</p>
<ul>
  <li>①ユーザー編集画面でのパスワードの更新。そのほかの情報更新が必要になった場合、管理者に連絡して下さい。</li>
  <li>②シフト一覧の確認</li>
  <li>③空きのあるシフトへの自分の氏名入力</li>
  <li>④各シフトへのコメント追加。自分がシフトに入ることができなくなった時、コメントを追加して代理探しを呼びかけることができます。
    また、他のアルバイトが代理を呼びかけているシフトにコメントを追加することもできます。コメントが追加されるたびに、登録者全員にメールが通知されます。</li>
  <li>⑤勤務希望日・時間・業務を登録できます。ただし、登録後の変更や修正は管理者への連絡が必要です。<li>
</ul> -->
