<p>こんにちは <%= @user.name %>!さん</p>
<p>以下のメールアドレスでユーザー登録されました。</p>
<p> <%= @user.email %> </p>

<p>以下のリンクのページからパスワードの再設定を行いログインしてください。</p>

<p><%= link_to 'パスワード再設定', edit_password_url(@user, reset_password_token: @token) %></p>
